name: Deploy Firebase Functions

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Deploy to Firebase
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Firebase Tools
        run: npm install -g firebase-tools

      - name: Install Functions Dependencies
        run: cd functions && npm install

      - name: Deploy to Firebase
        run: firebase deploy --only functions --token "${{ secrets.FIREBASE_TOKEN }}"
