name: Deploy Cloud Functions # İş akışı adı

on:
  push:
    branches:
      - main # Sadece 'main' dalına yapılan itmeleri dinle
  workflow_dispatch: # Manuel çalıştırmaya izin ver

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      # 1. Depo kodunu çek
      - name: Checkout Repo
        uses: actions/checkout@v4

      # 2. Functions klasörüne gidip bağımlılıkları (bad-words) kur
      - name: Install Functions Dependencies
        run: cd functions && npm install
        
      # 3. Firebase Action ile dağıtımı gerçekleştir
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@main # Sürüm hatasını çözmek için @main kullanıldı
        with:
          args: deploy --only functions
        
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          PROJECT_ID: top-req-clans-63d88 # Lütfen bu Proje ID'sinin doğru olduğunu KONTROL EDİN
