      # 3. Firebase Action ile dağıtımı gerçekleştir
      - name: Deploy Cloud Functions to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_JSON }}' # YENİ SECRET ADI KULLANILDI
          projectId: top-req-clans-63d88
          target: functions
