# ... (Üst kısımlar aynı kalacak)

      # 3. Firebase Action ile dağıtımı gerçekleştir
      - name: Deploy Cloud Functions to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}' # Standart GitHub token'ı
          # Buradaki 'FIREBASE_DEPLOY_TOKEN' yerine, Secret'a kaydettiğiniz 'FIREBASE_TOKEN' adını kullanmalısınız.
          firebaseServiceAccount: '${{ secrets.FIREBASE_TOKEN }}'
          projectId: top-req-clans-63d88 # KONTROL EDİN
          target: functions
